<h1>
  Generating URL with Helpers (image, video, URL)
</h1>


<!-- scaling takes place in the demo_controller -->
<h2>Original Assets</h2>
<h3>Scaled to 300px</h3>

<p>dog</p>
<%= image_tag(@uploads[:dog]) %>
<div class="link">
  <%= link_to(@uploads[:dog], @uploads[:dog], target: '_blank') %>
</div>
<p>face</p>
<%= image_tag(@uploads[:face]) %>
<div class="link">
  <%= link_to(@uploads[:face], @uploads[:face], target: '_blank') %>
</div>
<p>faces</p>
<%= image_tag(@uploads[:faces]) %>
<div class="link">
  <%= link_to(@uploads[:faces], @uploads[:faces], target: '_blank') %>
</div>
<p>logo</p>
<%= image_tag(@uploads[:logo]) %>
<div class="link">
  <%= link_to(@uploads[:logo], @uploads[:logo], target: '_blank') %>
</div>
<p>video</p>
<%= cl_video_tag(@uploads[:video], controls: true) %>
<div class="link">
  <%= link_to(@uploads[:video], @uploads[:video], target: '_blank') %>
</div>




